<ion-app>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false" *ngFor="let page of pages">
          <ion-item [routerLink]="page.url" routerDirection="root">
            <ion-icon
              slot="start"
              [ios]="page.icon + '-outline'"
              [md]="page.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <div class="footer">
        <ion-item>
          <p>ruanvalente</p>
          <ion-icon name="log-in-outline" slot="end"></ion-icon>
        </ion-item>
      </div>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
