<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Github Explore </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-app">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title>Seja bem vindo ao Github Explore</ion-title>
    <ion-card-subtitle class="ion-padding"
      >Explore seus repositórios de forma rápida e fácil.</ion-card-subtitle
    >

    <div class="search">
      <form class="form" novalidate>
        <ion-item
          class="ion-margin-bottom"
          [ngClass]="hasError ? 'input-error' : ''"
        >
          <ion-input
            type="text"
            placeholder="Entre com o seu repositório"
            name="inputLogin"
            [(ngModel)]="search"
            [formControl]="searchControl"
          ></ion-input>
        </ion-item>

        <p
          class="error-input"
          *ngIf="searchControl.touched && searchControl.invalid"
        >
          Campo é obrigatório
        </p>
      </form>

      <p class="error-message" *ngIf="hasError">Repositório não encontrado</p>
      <ion-button
        class="ion-padding"
        (click)="onSubmit()"
        type="submit"
        expand="block"
        shape="round"
        size="large"
        [disabled]="search.length === 0"
        >Encontrar</ion-button
      >
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>
